body {
	margin: 0;
	background-image:
		url("https://cdn.pixabay.com/photo/2016/12/17/17/44/presents-1913987_960_720.jpg");
	background-size: cover;
	/*  https://cdn.pixabay.com/photo/2015/05/07/08/37/chaotic-756196_960_720.jpg */
}

#footer {
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	color: white;
}

#cabecera {
	top: 0;
}

#cabecera .ui-g div {
	background-color: #268967;
	text-align: center;
	font-size: 40px;
	font-family: unset;
	color: white;
}

.ui-g div {
	background-color: rgba(50, 115, 220, 0.3);
	text-align: center;
}

.panel {
	width: 400px;
	height: 200px;
	position: absolute;
	top: 30%;
	left: 35%;
	background-color: #7DB976;
	text-align: center;
}

ui-panelgrid .ui-panelgrid-cell {
	padding: 3px;
}

.ui-widget-content {
	border: white;
	background: white;
}

.ui-widget-header {
	background: #268967;
	color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	color: black;
	background: #E4EA18;
	width: 350px;
}

.linc {
	color: #FFFFFF;
}

