.root{
	-fx-background-image:url('fondo1.jpg');
	-fx-background-size:cover;
}
.inicio{
	-fx-background-image:url('fondo4.jpg');
	-fx-background-size:cover,auto;
}
.usuarios{
	-fx-background-image:url('fondo5.jpg');
	-fx-background-size:cover,auto;
}
.panel{
-fx-background-color: rgba(255, 255, 255,.2);	
}
.product1{
	-fx-background-image:url('fondoP.jpg');
	-fx-background-size:cover,auto;
}
